.layout-main {
    max-width: 2100px !important;
}

.page-head.container {
    max-width: 2100px !important;
    padding: 0px 27px !important;
}

.page-head .container {
    max-width: 2100px !important;
    padding: 0px 27px !important;
}

.section-body {
    max-width: 2100px !important;
    padding: 0px 0px !important;
}

.section-head {
    max-width: 2100px !important;
    padding: 0px 15px !important;
}
.page-title{
    padding-left: 0px !important;
}

.form-section.card-section{
    padding: 0px 0px !important;
}